DATABASE_URL=postgresql://laptop_app:LaptopApp%40123@localhost:5432/laptop_prices
TELEGRAM_BOT_TOKEN="8625420422:AAGzsK5MEsJx_38KN7Tl08c1RyyIPgTXpG4"
TELEGRAM_CHAT_ID="-5057134145"
TELEGRAM_ALERT_THRESHOLD=0
TELEGRAM_ALERT_LIMIT=20
